<html lang="pl">
    <head>
        <title>Lista zadań</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Lista zadań</h1>
        <table>
        {% for i in res %}
        <tr>
            <td>
                <label>
                    <input type="checkbox" name="{{i[0]}}" onchange="check(this)" {{i[2]}}>
                </label>
            </td>
            <td>
                <label>
                    <input type="text" name="{{i[0]}}" value="{{i[1]}}" {{i[3]}}>
                </label>
            </td>
            <td>
                <button onclick="remove(this)" name="{{i[0]}}">Usuń</button>
            </td>
        </tr>
        {% endfor %}
        </table>
        <br/>
        <button onclick="add()">Dodaj</button>
    </body>
    <script type="text/javascript"
            src="{{ url_for('static', filename='main.js') }}"></script>
</html>